.checkbox-inner {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-block: 0.5rem;

  .toggle-button {
    width: 4rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;
    position: relative;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    & svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.25rem;
      transition: transform 0.4s ease-in-out, fill 0.3s ease;
    }

    & input {
      all: unset;
      position: absolute;
      inset: 0;
      z-index: 2;
      cursor: pointer;
    }

    &:has(input:focus-within),
    &:has(input:hover) {
      border: 1px solid var(--input-placeholder);
    }

    &:has(input:checked) {
      background-color: var(--brand-light);
      transition: background-color 0.3s ease-in-out;

      & svg {
        transform: translate(2rem, -50%);
        transition: transform 0.5s ease;
        & circle {
          fill: #f9f9f9;
          transition: fill 0.3s ease-in-out;
        }
      }
    }
  }

  & label::after {
    content: "Escuro";
  }

  & label {
    margin: 0 !important;
  }
}

.checkbox-inner:has(input:checked) label::after {
  content: "Claro";
}



#footer {
  .border-line {
    border: 1px solid var(--input-stroke);
    margin-block: 3rem 2.5rem;
  }
  .terms-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
  }

  .checkbox-wrapper {
    position: relative;

    & [type="checkbox"] {
      all: unset;
      position: absolute;
      inset: 0;
    }

    .checkbox-image {
      flex: 0 0 1.25rem;
      height: 1.25rem; 
      background-image: url(../../assets/icons/chexkbox-unmarked.svg);
    }

    &:has(:checked) .checkbox-image {
      background-image: url(../../assets/icons/checkbox-marked.svg);
    }

    & label {
      margin: 0 !important;
      font: var(--text-sm);

      & span {
        font-weight: 600;
        text-decoration: underline;
        color: var(--brand-light);
      }
    }
  }
}