.dropzone {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & .button {
    display: flex;
    gap: 0.5rem;

    padding: 0.75rem;
    background-color: var(--shape-button);
    border-radius: 0.5rem;
    position: relative;

    & input {
      opacity: 0;
      position: absolute;
      inset: 0;
      pointer-events: auto;
    }

    &:hover, &:focus {
      border: 1px solid var(--brand-light);
      outline: 1px solid var(--input-stroke);
    }
  }

  & label {
    margin: 0 !important;
  }

  & .info-label::after {
    content: "Nenhum arquivo selecionado";
    color: var(--input-placeholder);
  }

}


