.brand-light {
  background-color: #59b2ff  !important;
}
.purple {
  background-color: #b259ff !important;
}
.fuschia {
  background-color: #ff59f9 !important;
}
.pink {
  background-color: #ff598b !important;
}
.orange {
  background-color: #ff8b59 !important;
}
.yellow {
  background-color: #ffcd59 !important;
}
.lime {
  background-color: #e1ff59 !important;
}
.green {
  background-color: #59ff91 !important;
}
.cyan {
  background-color: #59fff9 !important;
}
.navy {
  background-color: #6a59ff !important;
}
.danger {
  background-color: #ff5959 !important;
}
